.screenshots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    max-width: 800px;
    margin: 20px auto;
}

.screenshot {
    height: 160px;
    overflow: hidden;

    background: #080908;
    border: 1px solid #484a42;
}

.screenshot img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    display: block;
}
/* =========================================
   DOWNLOAD PAGE
========================================= */

.download-page {

    max-width: 850px;

    margin: auto;

    padding: 90px 20px;

    text-align: center;
}

.download-page h1 {

    margin-bottom: 30px;
}

.download-message {

    color: #999b91;

    font-size: 16px;

    line-height: 1.7;

    margin-bottom: 35px;
}


/* BETA WARNING */

.warning {

    max-width: 650px;

    margin: 0 auto 35px;

    padding: 25px;

    background: #171914;

    border: 1px solid #55574e;

    text-align: left;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.4);
}

.warning-title {

    font-size: 18px;

    font-weight: bold;

    letter-spacing: 3px;

    color: #c5c5b8;

    margin-bottom: 15px;

}

.warning p {

    color: #898b82;

    font-size: 14px;

    line-height: 1.7;

}

.back-button {

    display: block;

    margin-top: 30px;

    color: #70736a;

    text-decoration: none;

    font-size: 11px;

    letter-spacing: 2px;
}

.back-button:hover {

    color: #bfc0b5;
}